* text=auto
*.yml text eol=lf
*.yaml text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.qml text eol=lf
*.py text eol=lf
*.md text eol=lf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.bat text eol=crlf
VERSION text eol=lf
